html {
    font-family: Roboto;
}

body {
    margin: 0;
    background: linear-gradient(to top, $color-gradient, $color-train);
    background-repeat: no-repeat;
    height: 100vh;
    @include media-laptop {
        height: 100%;
    }
}

.body_play {
    background: linear-gradient(to top, $color-gradient, $color-play);
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
}

h2 {
    font-weight: 700;
}