.main-card {
    user-select: none;
    width: 300px;
    height: 280px;
    margin: 10px;
    border-radius: 10%;
    background: linear-gradient( -45deg , #fff, $color-train);
    display: flex;
    flex-direction: column;
    border: solid $color-train 1px;
    align-items: center;
    color: rgb(13, 13, 119);
    transition: 1s;
    &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        color: rgb(25, 25, 240);
        transform: scale(1.2);
    }
    & img {
        margin: 30px auto;
        border-radius: 50%;
        border: solid 5px #fff;
        object-fit: cover;
        width: 140px;
        height: 140px;
    }
    &_play {
        background: linear-gradient( -45deg , #fff, $color-play);
        border: solid $color-play 1px;
    }
}

.section-card{
    user-select: none;
    cursor: pointer;
    width: 300px;
    height: 280px;
    margin: 10px;
    transform-style:preserve-3d;
    position:relative;
    transition:box-shadow 0.2s linear,transform 0.7s;
    border-radius: 5px;
    background: linear-gradient( -45deg , #fff, $color-train);
    &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        color: rgb(25, 25, 240);
    }
  }

  
.icon-rotate{
    position:absolute;
    width:50px;
    height:50px;
    background-image:url(../assets/icon/rotate.svg);
    background-size:32px;
    background-repeat:no-repeat;
    background-position:center 16px;
    bottom:15px;
    right:10px;
    &:hover {
        opacity: 0.5;
    }
  }

  .back-side{
    transform:rotateY(180deg)
  }

  .translate{
    transform:rotateY(180deg)
  }

  .back-side,.front-side{
    position:absolute;
    width:100%;
    top:0;
    bottom:0;
    background-size:contain;
    background-repeat:no-repeat;
    backface-visibility:hidden;
    color: rgb(13, 13, 119);
    font-weight: 700;
    font-size: 22px;
    text-align: center;
  }

  .card-name {
    display: inline-block;
    margin-top: 220px;
  }

  .card-right {
    opacity: 0.5;
  }

  .none {
    display: none;
    pointer-events: none
  }