html {
    font-family: Roboto;
}

body {
    margin: 0;
    height: 100vh;
    font-weight: 700;
    font-size: 22px;
}

button, 
button:active, 
button:focus,
textarea:active,
textarea:focus,
input:active,
input:focus {
    outline: none;
}

.result-success {
    background: url(../assets/image/results/success.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.result-fail {
    background: url(../assets/image/results/failure.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

a {
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    
}
