.navigation {
    position: relative;
}

.menu {
    user-select: none;
    z-index: 1;
    display: block;
    position: fixed;
    list-style:none;
    padding: 130px 80px;
    margin: 0;
    box-sizing: border-box;
    width: 340px;
    background: linear-gradient(to right, $color-gradient, $color-train);
    height: 100%;
    top: 0;
    left: -340px;
    transition: left 0.2s;
    &-item{
        font-size: 22px;
        margin: 0 0 20px;
        & a {
            color: $color-black;
            &:hover {
                color: #fff;
            }
        }
        &::before {
            position: absolute;
            width: 30px;
            height: 30px;
            margin-top: -4px;
            left: 40px;
            content: " ";
            background-size: cover;
        }
        &_home::before {
            background-image: url(../assets/image/menu/home.png);
        }
        &_actionA::before {
            background-image: url(../assets/image/menu/dancer.png);
        }
        &_actionB::before {
            background-image: url(../assets/image/menu/man-swimming.png);
        }
        &_actionC::before {
            background-image: url(../assets/image/menu/building-construction.png);
        }
        &_adjective::before {
            background-image: url(../assets/image/menu/child.png);
        }
        &_animalA::before {
            background-image: url(../assets/image/menu/cat.png);
        }
        &_animalB::before {
            background-image: url(../assets/image/menu/bird.png);
        }
        &_clothes::before {
            background-image: url(../assets/image/menu/blouse.png);
        }
        &_emotions::before {
            background-image: url(../assets/image/menu/smiling-face.png);
        }
        &_score::before {
            background-image: url(../assets/image/menu/hundred-points-symbol.png);
        }
    }
}



.menu-play {
    background: linear-gradient(to right, $color-gradient, $color-play);
}

.menu-show {
    left: 0;
}

.active-item {
    text-decoration: underline;
}
